<!DOCTYPE html>
<html crossriderapp2258="true">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>随笔</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" media="screen" href="/static/blog_detail/css/style.css">
	<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body class="home blog">
<div id="wrapper">
	<div class="container_16">

        <section id="posts" class="prefix_1 grid_9">

            {% for blog in blogs %}
                <article>
                    <h2><a href="#" >{{ blog.title }}</a></h2>
                    <p class="info"><a href="#">{{ blog.created|date:"Y-m-d H:i" }}</a>  |  by <span><a href="#"  rel="author">{{ blog.author }}</a></span>  |  <a href="#"  rel="category">{{ blog.category.name }}</a></p>
                    <div class="entry">
                        <p>
                            {{ blog.content | safe }}
                        </p>
                    </div>
                    <div class="clear"></div>
                    <p class="separator"></p>
                </article>
            {% endfor %}

		</section>

		<aside class="prefix_1 grid_5">
            {% include "clock.html" %}
{#			<form action="#" method="get">#}
{#				<input id="search" name="s" value="I'm searching for..." type="text">#}
{#			</form>#}
					<!-- Categories-->
			<h4>标签</h4>
            {% for blog in blogs %}
                <ul class="categories">
                    <li><a href="#" >{{ blog.category }}</a></li>
                </ul>
            {% endfor %}
			<div class="clear"></div>
			<hr>
			<!-- Comments -->
			<h4>评论</h4><!--多说评论框-->
            {% load duoshuo_tags %}
            {% duoshuo_comments %}
            <div class="clear"></div>
			<hr>
			<!-- Blogroll -->
		</aside>
	</div>
</div>
</body>
</html>